a {
    text-decoration: none;
    font-size: larger;
}

button {
    color: transparent;
    background-color: transparent;
    border: none;
    font-size: x-large;
}

h1 {
    text-align: center;
    text-decoration: none;
    padding-top: 14%;
    font-size: 8rem;
    color: white;
}

#header-list {
    text-align: right;
    display: flex;
}

#sales-h2 {
    text-align: center;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}