a {
    text-decoration: none;
    font-size: larger;
}

button {
    color: transparent;
    background-color: transparent;
    border: none;
    font-size: x-large;
    transition: all;
}

h1 {
    text-align: center;
    vertical-align: middle;
    font-size: 8rem;
    color: white;
    height: max-content;
}


#header-list {
    position: static;
    float: right;
    display: flex;
}


h2 {
    position: static;
    font-size: xx-large;
    text-align: center;
    font-style: italic;
    padding: 15px 0px;

}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

#locations {
    width: 100%;
    border: 2px solid;
}

td {
    border: 1px solid;
    padding: 15px;
    font-style: bold;
}

ul {
    text-align: right;
    
}
