a {
    text-decoration: none;
    font-size: larger;
}

button {
    color: black;
    background-color: transparent;
    border: none;
    font-size: x-large;
    transition: all;
}

button:hover {
    transition-property: all;
    color: white;
    transition-duration: 350ms;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 20%;
    color: salmon;
    font-size: 7rem;

}

header {
    display: flex;
    justify-content: center;
    margin-left: 75px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

#header-list li {
    padding-right: 75px;
}


h2 {
    position: static;
    font-size: 3rem;
    text-align: center;
    font-style: italic;
    padding: 20px 0px;

}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

#locations {
    width: 100%;
    border: 2px solid;
}

table {
    width: 100%;
}

thead {
    border: 2px solid;
}

td {
    border: 1px solid;
    padding: 15px;
    font-style: bold;
}

th {
    border: 1px solid;
    padding: 15px;
    font-style: bold; 
}

